<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- configSections comes first -->
  <!-- Configuration section-handler declaration area. -->
  <configSections>
    <sectionGroup name="ModellingsProfiles">
      <section name="Profile_001" type="System.Configuration.NameValueSectionHandler"/>
      <section name="Profile_002" type="System.Configuration.NameValueSectionHandler"/>
      <section name="Profile_003" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <sectionGroup name="ModellingsSettings">
      <section name="BPM" type="System.Configuration.NameValueSectionHandler"/>
      <section name="HMM" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <!-- Configuration section settings area. -->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="CsvVarMetadataLocalPath" value="dfinit.csv"/>
    <add key="CsvVarMetadataKeyCol" value="varName"/>
    <add key="CsvVarMetadataTypeCol" value="mysqlVarType"/>
    <add key="CsvVarMetadataLabelName" value="label"/>

    <add key="DiagnosticLogLocalPath" value="logs_diagnostic.log"/>
    <add key="GeneralLogLocalPath" value="logs_general.log"/>
    <add key="OutputLocalPath" value="Outputs"/>
    

    <add key="MysqlServer" value="localhost"/>
    <add key="MysqlUsername" value="root"/>
    <add key="MysqlPassword" value="root"/>
    <add key="MysqlCmdTimeout" value="1800"/>
    <add key="MysqlConnTimeout" value="1800"/>
    <add key="MysqlNullDefault" value="0"/>

    <add key="DatabasesMysql" value="parr_sample_1;parr_sample_2;parr_sample_3"/>
    <add key="DatabasesName" value="sample-1;sample-2;sample-3"/>
    <add key="SamplingsCombName" value="sample_1;sample_2;sample_1_train_2_test;sample_1_train_half_2_test_half;debug"/>
    <add key="SamplingsCombTrainDatabase" value="sample-1;sample-2;sample-1;sample-1;sample-2"/>
    <add key="SamplingsCombTrainSample" value="train;train;train_test;train;limit 0, 20000"/>
    <add key="SamplingsCombTestDatabase" value="sample-1;sample-2;sample-2;sample-2;sample-2"/>
    <add key="SamplingsCombTestSample" value="test;test;train_test;test;limit 200000, 20000"/>

    <add key="ModelingsGroup" value="BPM_Pop_Any-Acute;BPM_Pop_Any-Acute-No-Mental;BPM_Pop_PARR-1-Settings;BPM_Pop_PARR-2-Settings"/>
    <add key="Submodels" value="Cond_Main;Cond_Age-65p;Cond_Prior-Acute-12-month;Cond_Prior-Oper-12-month;Cond_Prior-Spells"/>
    <add key="SubmodelsNumCond" value="1;2;2;2;2"/>
    <add key="ModelsProcedure" value="Analysis_Stage4_7_report_small"/>
  </appSettings>


  <ModellingsSettings>
    <BPM>
      <add key="NoiseTrain" value="0.1"/>
      <add key="NoiseTest" value="0.1"/>
      <add key="SparsityApproxThresh" value="0.0001"/>
      <add key="labels" value="0;1"/>
      <add key="labelName" value="label"/>
    </BPM>
    
  </ModellingsSettings>
  
  
  <ModellingsProfiles>
    <!-- Profile Name ... -->
    <!--  ... Modelling Setting -->
    <!--  ... Model Name -->
    <!--  ... Database Name -->
    <!--  ... Model's MySQL Procedure Name -->
    <!--  ... Sampling Combination Name -->
    <!--  ... Modeling Group Name -->
    <!--  ... Submodel Name -->
    <!--  ... Submodel Condition Value -->

    <Profile_001>
      <add key="ModellingSetting" value="BPMMapped"/>
      <add key="ModelName" value="bpm_analysis4"/>
      <add key="ModelProcedure" value="Analysis_Stage4_7_report_small"/>
      <add key="SamplingsCombName" value="debug"/>
      <add key="ModelingsGroup" value="BPM_Pop_Any-Acute"/>
      <add key="Submodels" value="Cond_Main"/>
      <add key="SubmodelsNumCond" value="&quot;&quot;"/> 
    </Profile_001>
    
    <Profile_002>
      <add key="ModellingSetting" value="BPM"/>
      <add key="ModelName" value="bpm_analysis4"/>
      <add key="ModelProcedure" value="Analysis_Stage4_7_report_small"/>
      <add key="SamplingsCombName" value="debug"/>
      <add key="ModelingsGroup" value="BPM_Pop_Any-Acute"/>
      <add key="Submodels" value="Cond_Main"/>
      <add key="SubmodelsNumCond" value="&quot;&quot;"/> 
    </Profile_002>

    <Profile_003>
      <add key="ModellingSetting" value=""/>
      <add key="ModelName" value=""/>
      <add key="ModelProcedure" value=""/>
      <add key="SamplingsCombName" value=""/>
      <add key="ModelingsGroup" value=""/>
      <add key="Submodels" value=""/>
      <add key="SubmodelsNumCond" value=""/> 
    </Profile_003>
  </ModellingsProfiles>
</configuration>